<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->
<!--    <bean id="simpleCustomerLogger" class="pl.coderslab.beans.SimpleCustomerLogger"/>-->
<!--    <bean id="memoryCustomerRepository" class="pl.coderslab.beans.MemoryCustomerRepository">-->
<!--        <constructor-arg ref="simpleCustomerLogger"></constructor-arg>-->
<!--    </bean>-->

<!--</beans>-->